<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/hwcrypto.js"></script>
    <script src="js/hwcrypto-legacy.js"></script>
    <script src="js/hex2base.js"></script>
    <link rel="stylesheet" href="css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
</head>
<body>
<video loop muted autoplay id="bg_vid" poster="image.png">
    <!-- Video is embedded in the WEBM format -->
    <source src="bg/out_full.webm" type="video/webm">
</video>
<div class="title_holder">
    <p id="title">I want this to STOP</p>
</div>
<div id="buttons_auth" class="button_holder">
    <a id="auth">Take Action</a>
</div>
<div id="buttons_unsigned" class="button_holder" style="display: none;">
    <a id="sign">I want this to stop</a>
</div>
<div id="buttons_signed" class="button_holder" style="display: none;">
    <a id="remove">Cancel my vote</a>
    <a id="download">Download signed document</a>
</div>
<script>

    var queueFunc = null;

    function responseHandler(ev1) {
        var response = JSON.parse(ev1.target.response);
        console.log(response);
        switch (response.action) {
            case "request_signature":
                endsign(response.payload);
                break;
            case "error":
                alert("error: " + response.payload);
                break;
            case "auth_success":
                handleLogin(response.payload);
                //enable sign||remove+download button
                break;
            case "sign_success":
                alert("signed for: " + response.payload);
                //enable remove+download button
                break;
        }
        if (queueFunc != null) {
            var func = queueFunc;
            queueFunc = null;
            func();
        }
    }

    //this is an auth function, it will return if user has or hasnt signed, so we can choose between states, will do a bit later.
    //you will get that param from responsehandler auth_success
    function getcertificate(func) {
        queueFunc = func;
        window.hwcrypto.getCertificate({lang: 'en'}).then(function(certificate) {
            window.certificate = certificate;
            var xhr = new XMLHttpRequest;
            xhr.onload = responseHandler;
            xhr.open("POST", "/auth", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send("cert=" + window.certificate.hex);
        });
    }

    //when user clicks the sign button
    function startsign() {
        if  (window.certificate === undefined) {
            getcertificate(startsign);
        } else {
            var xhr = new XMLHttpRequest;
            xhr.onload = responseHandler;
            xhr.open("POST", "/sign/start", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send("cert=" + window.certificate.hex);
        }
    }

    //called from callbacks, signing second phase
    function endsign(data) {
        window.hwcrypto.sign(window.certificate, {type: 'SHA-256', hex: data}, {lang: 'en'}).then(function(signature) {
            var xhr = new XMLHttpRequest;
            xhr.onload = responseHandler;
            xhr.open("POST", "/sign/finish", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send("signature="+signature.hex);
        });
    }

    //to download a signed file, should only be visible in signed state
    function loadfile() {
        if  (window.certificate === undefined) {
            getcertificate(loadfile);
        } else {
            window.open("/get", "_blank");
        }
    }


    function handleLogin(payload) {
        document.getElementById("title").innerHTML = "Welcome, " + payload.name;
        hidebuttons();
        if (payload.voted) {
            document.getElementById("buttons_signed").style.display = "";
        } else {
            document.getElementById("buttons_unsigned").style.display = "";
        }
    }

    function hidebuttons() {
        document.getElementById("buttons_auth").style.display = "none";
        document.getElementById("buttons_signed").style.display = "none";
        document.getElementById("buttons_unsigned").style.display = "none";
    }


    document.getElementById("auth").onclick = function(){
        getcertificate(null);
    };
    document.getElementById("sign").onclick = startsign;
    document.getElementById("download").onclick = loadfile;
</script>
</body>
</html>