<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>I want this to STOP</title>
    <script src="js/hwcrypto.js"></script>
    <script src="js/hwcrypto-legacy.js"></script>
    <script src="js/hex2base.js"></script>
    <link rel="stylesheet" href="css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">

    <meta property="og:url"                content="http://internal.ehub.ee" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              th:content="${lang.iwantstop}" />
    <meta property="og:description"        th:content="${lang.gov1} + ${days} + ${lang.gov2}" />
    <meta property="og:image"              content="https://internal.ehub.ee/bg/bg.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
</head>
<body>
<video loop muted autoplay id="bg_vid" poster="/bg/bg.jpg">
    <source src="bg/out_full.webm" type="video/webm">
</video>
<div id="langselect">
    <a href="/">EST</a>
    <a href="/ru">РУС</a>
    <a href="/en">ENG</a>
</div>
<div id="spinner" style="display: none;"></div>
<div class="title_holder">
    <p id="title" th:text="${lang.iwantstop}"></p>
</div>
<div id="buttons_auth" class="button_holder">
    <p id="counter" th:text="${lang.peoplevoted} + ${votes}"></p>
    <a class="button icon" id="auth">
        <span class="iconicon"></span>
        <span class="icontext" th:text="${lang.takeaction}"></span>
    </a>
</div>
<div id="buttons_unsigned" class="button_holder" style="display: none;">
    <a class="button" id="sign" th:text="${lang.iwantstop}"></a>
</div>
<div id="buttons_signed" class="button_holder" style="display: none;">
    <a class="button small" id="remove" th:text="${lang.cancelvote}"></a>
    <a class="button small" id="download" th:text="${lang.download}"></a>
    <br/>
    <p id="share" th:text="${lang.shareon}"></p>
    <a class="button small" id="facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Finternal.ehub.ee&quote=%23MaTahanSedaPeatada">Facebook</a>
    <a class="button small" id="twitter" target="_blank" href="https://twitter.com/intent/tweet?hashtags=MaTahanSedaPeatada&url=https%3A%2F%2Finternal.ehub.ee">Twitter</a>
</div>
<div class="news_holder">
    <p id="newstitle" th:text="${lang.gov1} + ${days} + ${lang.gov2}"></p>
    <div th:each="item : ${news}"  class="newswrapper">
        <a class="newsitem" th:text="${item.name}" th:href="${item.url}" target="_blank"></a>
    </div>
</div>
<script th:inline="javascript">

    var lang = (/*[[${lang.lang}]]*/ "en");
    var queueFunc = null;

    function responseHandler(ev1) {
        spinner(false);
        var response = JSON.parse(ev1.target.response);
        switch (response.action) {
            case "request_signature":
                endsign(response.payload);
                break;
            case "error":
                handleError(response.payload);
                break;
            case "success":
                handleLogin(response.payload);
                //enable sign||remove+download button
                break;
        }
        if (queueFunc != null) {
            var func = queueFunc;
            queueFunc = null;
            func();
        }
    }

    function getcertificate(func) {
        spinner(true);
        queueFunc = func;
        window.hwcrypto.getCertificate({lang: lang}).then(function(certificate) {
            window.certificate = certificate;
            var xhr = new XMLHttpRequest;
            xhr.onload = responseHandler;
            xhr.open("POST", "/auth", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send("cert=" + window.certificate.hex);
        }, function(error) {
            handleError(error.message);
        });
    }

    function startsign() {
        spinner(true);
        if  (window.certificate === undefined) {
            getcertificate(startsign);
        } else {
            var xhr = new XMLHttpRequest;
            xhr.onload = responseHandler;
            xhr.open("POST", "/sign/start", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send("cert=" + window.certificate.hex);
        }
    }

    function endsign(data) {
        spinner(true);
        window.hwcrypto.sign(window.certificate, {type: 'SHA-256', hex: data}, {lang: lang}).then(function(signature) {
            var xhr = new XMLHttpRequest;
            xhr.onload = responseHandler;
            xhr.open("POST", "/sign/finish", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send("signature="+signature.hex);
        }, function(error) {
            handleError(error.message);
        });
    }

    function loadfile() {
        if  (window.certificate === undefined) {
            getcertificate(loadfile);
        } else {
            window.open("/get", "_blank");
        }
    }

    function cancelsign() {
        if  (window.certificate === undefined) {
            getcertificate(cancelsign);
        } else {
                if (confirm(/*[[${lang.areyousure}]]*/ '')) {
                var xhr = new XMLHttpRequest;
                xhr.onload = responseHandler;
                xhr.open("POST", "/delete", true);
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.send("cert=" + window.certificate.hex);
            }
        }
    }


    function handleLogin(payload) {
        spinner(false);
        hidebuttons();
        if (payload.voted) {
            document.getElementById("title").innerHTML = (/*[[${lang.thankyou}]]*/ '') + payload.name;
            document.getElementById("buttons_signed").style.display = "";
        } else {
            document.getElementById("title").innerHTML = (/*[[${lang.welcome}]]*/ '') + payload.name;
            document.getElementById("buttons_unsigned").style.display = "";
        }
    }

    function hidebuttons() {
        document.getElementById("buttons_auth").style.display = "none";
        document.getElementById("buttons_signed").style.display = "none";
        document.getElementById("buttons_unsigned").style.display = "none";
    }

    function spinner(state) {
        if (state) {
            document.getElementById("spinner").style.display = "";
        } else {
            document.getElementById("spinner").style.display = "none";
        }
    }

    function handleError(error) {
        spinner(false);
        console.log(error);
        alert(error);
    }


    document.getElementById("auth").onclick = function(){
        getcertificate(null);
    };
    document.getElementById("sign").onclick = startsign;
    document.getElementById("download").onclick = loadfile;
    document.getElementById("remove").onclick = cancelsign;
</script>
</body>
</html>