<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/hwcrypto.js"></script>
    <script src="js/hwcrypto-legacy.js"></script>
    <script src="js/hex2base.js"></script>
</head>
<body>
<button id="send">Send</button>
<br/>
<br/>
<br/>
<button id="get">get</button>
<script>

    var queueFunc = null;

    function responseHandler(ev1) {
        var response = JSON.parse(ev1.target.response);
        switch (response.action) {
            case "request_signature":
                endsign(response.payload);
                break;
            case "error":
                alert("error: " + response.payload);
                break;
            case "auth_success":
                alert("logged in: " + response.payload);
                //enable sign||remove+download button
                break;
            case "sign_success":
                alert("signed for: " + response.payload);
                //enable remove+download button
                break;
        }
        if (queueFunc != null) {
            var func = queueFunc;
            queueFunc = null;
            func();
        }
    }

    //this is an auth function, it will return if user has or hasnt signed, so we can choose between states, will do a bit later.
    //you will get that param from responsehandler auth_success
    function getcertificate(func) {
        queueFunc = func;
        window.hwcrypto.getCertificate({lang: 'en'}).then(function(certificate) {
            window.certificate = certificate;
            var xhr = new XMLHttpRequest;
            xhr.onload = responseHandler;
            xhr.open("POST", "/auth", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send("cert=" + window.certificate.hex);
        });
    }

    //when user clicks the sign button
    function startsign() {
        if  (window.certificate === undefined) {
            getcertificate(startsign);
        } else {
            var xhr = new XMLHttpRequest;
            xhr.onload = responseHandler;
            xhr.open("POST", "/sign/start", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send("cert=" + window.certificate.hex);
        }
    }

    //called from callbacks, signing second phase
    function endsign(data) {
        window.hwcrypto.sign(window.certificate, {type: 'SHA-256', hex: data}, {lang: 'en'}).then(function(signature) {
            var xhr = new XMLHttpRequest;
            xhr.onload = responseHandler;
            xhr.open("POST", "/sign/finish", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send("signature="+signature.hex);
        });
    }

    //to download a signed file, should only be visible in signed state
    function loadfile() {
        if  (window.certificate === undefined) {
            getcertificate(loadfile);
        } else {
            window.open("/get", "_blank");
        }
    }


    document.getElementById("send").onclick = startsign;
    document.getElementById("get").onclick = loadfile;
</script>
</body>
</html>